body {
  font-family: 'Open Sans';
  font-size: 16px;
  color:#000000;
}

div[id^="page"] {
  padding: 20px 10px;
  text-align: center;
}

a, div[class^="btn"]{
  cursor: pointer;
}

div#logo {
  text-align: center;
  margin: auto;
  background-color:#D37198;
  border-radius: 35px;
  width: 50px;
  height: 50px;
}
div#logo span {
  color: #fff;
  font-size: 30px;
  margin-top: 9px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Varela Round';
  text-shadow: 1px 1px 6px rgba(0,0,0,.75);
}

h2 {
  font-family: 'Oswald';
}

h1#app-title {
  font-size: 55px;
}

.super-strong {
  font-family: 'Oswald';
  color: #575757;
  font-size: 1.05em;
}

.grey {
  color: rgba(0,0,0,.33);
}

.pink {
  color:#D37198;
}

.inactive {
  opacity: .3;
}

.btn-box {
  font-family: 'Varela Round';
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 10px 25px;
  margin: 10px auto;
  display: block;
  cursor: pointer;
}

.btn-box:hover {
  text-decoration: none;
}

.btn-cta {
  background-color:#759BD3;
  width: 100%;
}

.btn-cta:hover {
  text-shadow: 1px 1px 6px rgba(255,255,255,.75);
  color: rgba(255,255,255,.75);
}

.btn-cta-main {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  background-color:#ECECFB;
  font-size: 20px;
  width: 100%;
  color:#CD729B;
}

.btn-cta-main:hover {
  text-shadow: 1px 1px 6px #CD729B;
  color: #CD729B;
}

.btn-skip {
  font-family: "Helvetica Neue";
  font-weight: lighter !important;
  background-color: #ECECEC;
  font-size: 18px;
  color: #666;
  padding: 3px;
}

div.section {
  background-color: #ECECEC;
}

div.section input[type='text'] {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  color: #646473;
  background-color: rgba(0,0,0,0);
  font-size: 1.5em;
  border: none;
  text-align: center;
  padding: 10px 5px;
}

.note {
  margin-top: 10px;
  font-family: "Helvetica Neue";
  font-weight: lighter;
  color: #fff;
}

body.signup {
   background: url(../images/trans_bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Header*/
div#header {
  background-color:#D37198;
  color: #fff;
  font-size: 2em;
  margin: 0px;
}

div#header a, div#header a:visited, div#header a:hover {
  color: #fff;
}

div#header a:hover {
  text-decoration: none;
}

div#header span{
  display:block;
  margin: 8px auto;
}

/*Question*/
div#page-home {
  background-color: rgba(0,0,0,.33);

}
div#question-text {
  padding: 5px 20px;
  background-color: rgba(0,0,0,0);
}

div#question-text h1 {
  font-size: 1.6em;
  text-align: center;
  font-weight: bold;
  font-family: 'Varela Round';
  color: #333;
  text-shadow: 1px 1px 6px rgba(0,0,0,.75);
}

ul#answers-list {
  font-family: "Helvetica Neue";
  background-color: #F0F0F0;
}

ul#answers-list li {
  border-bottom: 1px solid #AAA;
  color: #333;
  padding: 13px 5px;
  cursor: pointer;
}

ul#answers-list li:hover {
  background-color: #D37198 !important;
}

ul#answers-list li.selected {
  background-color: #D37198;
  color: #FAFAFA;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

/*Start*/
div#page-start div {
}

/*Signup*/
div#page-signup div {
}