body {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #000000;
}

div[id^="page"] {
  padding: 20px 10px;
  text-align: center;
}

div#logo {
  text-align: center;
  margin: auto;
  background-color: #D37198;
  border-radius: 35px;
  width: 50px;
  height: 50px;
}

div#logo span {
  color: #fff;
  font-size: 30px;
  margin-top: 9px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-family: 'Varela Round';
  text-shadow: 1px 1px 6px rgba(0,0,0,.75);
}

h2 {
  font-family: 'Oswald';
}

h1#app-title {
  font-size: 55px;
}

.super-strong {
  font-family: 'Oswald';
  color: #575757;
  font-size: 1.05em;
}

.grey {
  color: rgba(0,0,0,.33);
}

.pink {
  color: #D37198;
}

.btn-box {
  font-family: 'Varela Round';
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 10px 25px;
  margin: 10px auto;
  display: block;
}

.btn-box:hover {
  text-decoration: none;
}

.btn-cta {
  background-color: #759BD3;
  font-size: 20px;
  width: 100%;
}

.btn-cta:hover {
  text-shadow: 1px 1px 6px rgba(255,255,255,.75);
  color: rgba(255,255,255,.75);
}

.btn-cta-main {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  background-color: #ECECFB;
  font-size: 20px;
  width: 100%;
  color: #CD729B;
}

.btn-cta-main:hover {
  text-shadow: 1px 1px 6px #CD729B;
  color: #CD729B;
}

div.section {
  background-color: #ECECEC;
}

div.section input[type='text'] {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  color: #646473;
  background-color: rgba(0,0,0,0);
  font-size: 1.5em;
  border: none;
  text-align: center;
  padding: 10px 5px;
}

.note {
  margin-top: 10px;
  font-family: "Helvetica Neue";
  font-weight: lighter;
  color: #fff;
}

body.signup {
  background: url(../images/trans_bg.png) no-repeat center center fixed;
  background-size: cover;
}

/*Start*/



/*Signup*/

