<div id="page-invite" ng-controller="InviteCtrl">
  <div class="row">
    <div id='logo' class="circle">
      <span class="glyphicon glyphicon-heart">
    </span>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1 id="app">Invite a partner<br /> to start sharing</h1>
    </div>
  </div>
  <div class="section">
    <div class="row">
      <div class="col-xs-12">
        <input type="text" placeholder="Their Phone Number"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <input type="text" placeholder="Their First Name"></input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="note">
        We’ll notify you when they join.
        In the meantime you can start answering questions.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 note">
      <a class="btn-box btn-cta-main" href="javascript:void(0);" ng-click="submit()">Invite Partner</a>
    </div>
  </div>
</div>
