<div id="page-Login" ng-controller="SignupCtrl">
  <div class="row">
    <div class="col-xs-12">
      <h1>LOGIN</h1>
    </div>
  </div>
  <div class="section">
    <div class="row">
      <div class="col-xs-12">
        <input type="text" placeholder="Email" ng-model="user.email"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <input type="text" placeholder="Password" ng-model="user.password"></input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 note">
      <a class="btn-box btn-cta-main" href="javascript:void(0);" ng-click="login()">Login</a>
    </div>
  </div>
</div>