<div id="page-signup" ng-controller="SignupCtrl">
  <div class="row">
    <div class="col-xs-12">
      <h1>SIGN UP</h1>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col-xs-12">
        <input type="text" placeholder="First Name"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <input type="text" placeholder="Email"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <input type="text" placeholder="Phone"></input>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <input type="text" placeholder="Password"></input>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 note">
      <p>We don't share this with anyone</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 note">
      <a class="btn-box btn-cta-main" href="javascript:void(0);" ng-click="submit()">Create Account</a>
    </div>
  </div>

</div>