<div id="page-start">
  <div class="row">
    <div id='logo' class="circle">
      <span class="glyphicon glyphicon-heart">
    </span>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1 id="app-title">Storge</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="share grey">Share</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="learn">Learn</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="appreciate pink">Appreciate</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <button class="btn-box btn-cta">Sign Up</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <strong class="super-strong">
        Have an account? <a ng-href="derp">Sign up</a>
      </strong>
    </div>
  </div>
</div>


